*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
    
}

.nav-bar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 32px 32px;
}

.right-nav, .left-nav {
    display: flex;
    align-items: center;
    
}

a{
    color: rgb(107, 107, 107);
    text-decoration: none;
    padding: 20px;
}

span a.btn{
    font-weight: bold;
    border-radius: 10px;
}

span a.btn.white{
    background-color:rgba(230, 230, 230, 0.6);
    padding: 10px;
}

span a.btn.black{
    color: white;
    background-color:rgb(25, 28, 31);
    padding: 10px;
}

ul li{
    list-style: none;
    line-height: 50px;
}

ul li a{
    color: rgb(107, 107, 107);
    
}

ul li img{
    height: 24px;
    padding: 3px;
    background-color: rgba(150, 150, 150, 0.6);
    border-radius:50%
}

ul li p{
    color: rgb(107, 107, 107);
    padding-left: 10px;
    font-size: 12px;
}

.container-features{
    display: flex;
    position: absolute;
    top: 35px;
    right: 100px;
    background-color: white;
    box-shadow: 3px 3px 8px #888888;
    padding: 20px;
    border-radius:10px;
    display: none;
}

.container-features.plans{
    right: 300px;
}
.container-features.about{
    right: 150px;
}

@media all and (max-width:992px)
{
    .nav-bar{
        display: none;
    }
    .container-xs{
        width: 100%;
        padding: 32px 32px;
        background-color:white;
    }

    .nav-bar-xs{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 32px 32px;
       
    }

    .hamburger-dropdown{
        padding: 32px 0;
        width:100vh;
        position: relative;
    }
    .hamburger-dropdown i{
        position: absolute;
        right: 32px;
    }  

    .container-features-xs{
        display: none;
        flex-direction: column;
    }
    .container-features-xs ul{
        padding-left: 32px;
    }
    .container-xs .link-hover-xs{
        display: flex;
        justify-content: space-between;
    }
    .container-xs .link-hover-xs:after{
        font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078";
    }
    .links-drop{
        display: none;
    }
}

@media all and (min-width:993px){
    .container-xs{
        display: none;
    }
}

/* Utilities */

.padding-1{
    padding: 5px;
}

.display-flex{
    display: flex;
    align-items: center;
}

.active {
    display: flex;
}

.links-active{
    display: block;
}

.active-txt{
    color: black;
    font-weight: 600;
}
